[run]
branch = true
source=django-typeform-feedback
include=typeform_feedback/


[report]
omit =
    *site-packages*
    *tests*
    *.tox*
show_missing = True
exclude_lines =
    raise NotImplementedError
